@using static Utilities.Constants.Enums
@model Domain.Entities.GenericDrug

@{
   
   Layout = "~/Views/Shared/_AdminLayout.cshtml";
   var module = Context.Request.Query["module"];
}

<div class="row ps-2 pe-2 ps-sm-4 pe-sm-4 offset-1 CardOffset">
   <div class="col-md-10 col-lg-10 p-0 ps-sm-4 ClCard">

      <!--ALERT MESSAGE-->
      @if (TempData[Utilities.Constants.SessionConstants.Message] != null)
      {
         <div class="alert alert-success alert-dismissible show fade  mt-1" role="alert">
            <i class=""></i>&nbsp;@TempData[Utilities.Constants.SessionConstants.Message]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
      }

      <div class="card">
         <div class="card-body ps-4 pe-4 ps-sm-5 pe-sm-5">

            <!--HEADER-->
            <div class="pagetitle">
               <h4 class="card-title fs-2 fw-bold mb-0">Generic Drug</h4>
               <p class="mb-1" style="font-size:14px">Fields marked by <span class="text-danger">*</span> are mandatory</p>
               <hr class="mt-0">
            </div>

            <!--FORM START-->
            <form class="row g-1" method="post" asp-action="Create" asp-controller="GenericDrugs">

               <!--DESCRIPTION-->
               <div class="col-md-12">
                  <div class="form-floating mt-2">
                     <input asp-for="Description" type="text" class="form-control" data-val="true" data-val-required="Required." data-val-length-max="90">
                     <label class="required" asp-for="Description">Generic Drug</label>
                     <span asp-validation-for="Description" class="text-danger"></span>
                  </div>
               </div>

               <!--RISK-->
               <div class="col-md-12">
                  <div class="form-floating mt-2">
                     <select asp-for="PregnancyRisk" class="form-select" asp-items="Html.GetEnumSelectList<PregnancyRisk>()" data-val="true" data-val-required="Required.">
                        <option value="">Select</option>
                     </select>
                     <label asp-for="PregnancyRisk" class="required">Pregnancy Risk</label>
                     <span asp-validation-for="PregnancyRisk" class="text-danger"></span>
                  </div>
               </div>              
              
               <!--RISK-->
               <div class="col-md-12">
                  <div class="form-floating mt-2">
                     <select asp-for="BreastFeedingRisk" class="form-select" asp-items="Html.GetEnumSelectList<BreastFeedingRisk>()" data-val="true" data-val-required="Required.">
                        <option value="">Select</option>
                     </select>
                     <label asp-for="BreastFeedingRisk" class="required">BreastFeeding Risk</label>
                     <span asp-validation-for="BreastFeedingRisk" class="text-danger"></span>
                  </div>
               </div>

               <!--DRUG CLASS-->
               @* <div class="col-md-12">
                  <div class="form-floating mt-2">
                     <select for="DrugClassId" id="DrugClassId" class="form-select" aria-label="State" asp-items="@ViewBag.Drugclass" onchange="GetSubClassbyDrugClass(event)">
                        <option value="">Select</option>
                     </select>
                     <label class="required" for="DrugClassId">Drug Class</label>
                  </div>
               </div> *@

               <div class="col-md-12">
                  <div class="col-md-6 mt-2">
                     <label class="required">Drug Class</label>
                  </div>

                  <div class="form-floating mt-1">
                     <select for="DrugClassId" id="DrugClassId" class="form-select select2 pt-2" data-show-subtext="true" data-live-search="true" data-val="true" asp-items="@ViewBag.Drugclass" onchange="GetSubClassbyDrugClass(event)" aria-label="State">
                        <option value="" class="pt-2">Select</option>
                     </select>
                  </div>
               </div>

               <!--SUB CLASS-->
               <div class="col-md-12">
                  <div class="col-md-6 mt-2">
                     <label class="required">Drug Sub Class</label>
                  </div>

                  <div class="form-floating mt-1">
                     <select asp-for="SubclassId" id="SubclassId" name="SubclassId" class="form-select select2 pt-2" data-show-subtext="true" data-live-search="true" data-val="true" aria-label="State">
                        <option value="" class="pt-2">Select</option>
                     </select>
                  </div>
               </div>

               <!--ACTIONS-->
               <div class="col-12 mt-0 mt-3 text-center">
                  <button class="btn btn-primary btn-lg mx-2" type="submit">
                     <i class="bi bi-check2-circle"></i> Submit
                  </button>
                  <a href="/GenericDrugs/Index?module=@module" class="btn btn-secondary btn-lg"><i class="bi bi-x-circle"></i> Close</a>
               </div>            
            </form>

         </div>
      </div>
   </div>
</div>

@section Scripts {
   <!--JS LINK-->
   <script src="~/js/site.js"></script>
   <script src="~/js/cdns/jquery.min.js"></script>

   <script>

      function GetSubClassbyDrugClass(event) {
          var oid = event.target.value;
          $.ajax({
              type: 'GET',
              url: '/GenericDrugs/LoadDrugSubClass',
              dataType: 'json',
              data: { id: oid },
              success: function (drugSubClass) {
                  $("#SubclassId").empty();
                  $("#SubclassId").append(`<option value="0">Please select</option>`);
                  var data = "";
                  drugSubClass.forEach(function (item) {
                      data = `<option value="${item.oid}">${item.description}</option>`
                      $("#SubclassId").append(data);
                  })
              }
          })
      }

   </script>
}