<header class="bg-white shadow sticky top-0 z-10">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    <h1 class="text-3xl font-bold text-gray-800">Blog</h1>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a class="text-gray-600 hover:text-gray-800" routerLink="/blog-posts"
            >Blog</a
          >
        </li>
        <li>
          <a routerLink="/movies" class="text-gray-600 hover:text-gray-800"
            >Movie</a
          >
        </li>
        <li>
          <a class="text-gray-600 hover:text-gray-800" routerLink="/users"
            >User</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
