<article class="bg-white rounded-lg drop-shadow-sm overflow-hidden">
  <img
    class="w-full h-48 object-cover"
    src="https://via.placeholder.com/400x300"
    alt="Blog Post Image"
  />
  <div class="p-6">
    <h2 class="text-xl font-semibold mb-2">Blog Post Title</h2>
    <p class="text-gray-600 mb-4 text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor.
    </p>
    <a routerLink="/blog-posts/1" class="text-blue-500 hover:underline"
      >Read more</a
    >
  </div>
</article>
