html {
   font-size: 14px;
}

@media (min-width: 768px) {
   html {
      font-size: 16px;
   }
}

html {
   position: relative;
   min-height: 100%;
}

body {
   margin-bottom: 60px;
}

/*CUSTOM CSS*/

.required:after {
   content: " *";
   color: red;
}

.redRequered {
   color: red;
}

.hrline {
   height: 2px;
   border-width: 0;
   color: #a6a6a6;
   background-color: #a6a6a6;
}

.customhr {
   height: 2px;
   border-width: 0;
   color: #a6a6a6;
   background-color: #a6a6a6;
}

textarea[readonly] {
   background-color: #dbdbdb;
}
/*input[readonly] {
    background-color: #dbdbdb;
}*/
textarea[readonly] {
   background-color: #dbdbdb;
}

.customshr {
   display: inline-flex;
   flex-direction: column
}

.hrline {
   height: 2px;
   border-width: 0;
   color: #a6a6a6;
   background-color: #a6a6a6;
}

.hrline {
   height: 2px;
   border-width: 0;
   color: #a6a6a6;
   background-color: #a6a6a6;
}

.Btn {
   min-width: 80px !important;
   height: 35px;
}

.tab-sm {
   font-size: 14px;
}

.font-md{
   font-size:14px !important;
}

.font-sm {
   font-size: 12px !important;
}

/*.ClCard a {
   text-decoration: none;
}
*/
/*@media (min-width: 992px) {
   .footerLogo .res {
      margin-left: 58px !important;
   }
}*/

/*@media (min-width: 992px) {
   .res {
      margin-left: 48px !important;
   }
}*/

.search-p {
   padding: 12px !important;
}

.col-design {
   flex: 0 0 auto;
   width: 2.333333%;
}

/* RESPONSIVE */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
   .ClCard {
      flex: 0 0 auto;
      width: 100%;
   }

   .CardOffset {
      margin-left: 0;
   }

   .img-responsive {
      width : 88%;
   }

   .img-size {
      padding-top: 0 !important;
      margin-bottom: 3rem !important;
   }

   .small {
      font-size: 12px;
   }
}

@media (max-width: 575px) {
   .select2-container--default .select2-selection--single {
      height: 45px;
      padding-top: 6px;
   }
}

@media (max-width: 576px) {
   .select2-container--default .select2-selection--single {
      height: 46px;
      padding-top: 7px;
   }
}

@media (min-width: 576px) and (max-width: 768px) {
   .select2-container--default .select2-selection--single {
      height: 40px;
      padding-top: 9px;
   }
}

@media (min-width: 768px) and (max-width: 992px) {
   .select2-container--default .select2-selection--single {
      height: 48px;
      padding-top: 9px;
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
   .select2-container--default .select2-selection--single {
      height: 56px;
      padding-top: 9px;
   }
}

@media (min-width: 1200px) {
   .select2-container--default .select2-selection--single {
      height: 46px;
      padding-top: 9px;
   }
}
.nav-link {
    outline: none;
}

.p-13 {
   padding-top: 13px !important;
   padding-bottom: 13px !important;
}
