@model Domain.Dto.UserLoginDto
@inject IConfiguration Configuration

@{
    var specialTag = @Configuration.GetSection("ProjectSetup").GetSection("SpecialTag").Value;
}
@{
   ViewData["Title"] = "Login";
   Layout = "~/Views/Shared/_LayoutOne.cshtml";
}

<div class="section">
   <div class="row m-0">

      <!--BRAND LOGO-->
      <a class="brand-logo d-none d-lg-flex" href="#">
          <span class="card-title d-lg-block fs-2 fw-bolder">CarePro (Admin)</span>
      </a>
      <!--/BRAND LOGO-->

      <!-- LEFT IMAGE-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center pe-5 ps-5 pb-5 pt-5 img-size">
         <div class="w-100 d-lg-flex align-items-center justify-content-center">
            <img class="img-fluid img-responsive" width="67%" src="/assets/img/admin-login1.png">
         </div>
      </div>
      <!-- /LEFT IMAGE-->

      <!--LOGIN-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-2">
         <div class="col-10 col-sm-8 mt-sm-3 col-md-6 col-lg-10 px-xl-2 mx-auto">
            <!--CARD-->
            <div class="card shadow-2-strong mb-2" style="border-radius: 1rem;">
               <div class="card-body">

                  <!--HEADER-->
                  <div class="pb-2 mt-3">
                     <a class="brand-logo d-flex justify-content-center pb-0 mb-0" href="#">
                        <img src="/assets/img/Logo.ico" alt="logo" style="width:90px;" />
                     </a>
                          
                           <h4 class="card-title text-center pb-0 mb-0 fw-bolder fs-sm-5 ">Login to CarePro Admin Panel</h4>

                            <h5 class="text-center pb-0 mb-0" style="font-size:12px;">An MoH SmartCare System.</h5>

                            @if (specialTag?.Length > 0)
                            {
                                <p class="text-center small mb-0 pb-0 pt-0 mt-0" style="font-size:15px;color:#ff0000">(@specialTag)</p>
                            }
                           <p class="text-center small pb-0 mb-0 mt-1">Enter your <strong>Username</strong>  & <strong>Password</strong> to Login.</p>
                  </div>

                  @if (TempData[Utilities.Constants.SessionConstants.Message] != null)
                  {
                     <!--ALERT-->
                     <div class="alert alert-danger alert-dismissible show fade  mt-1" role="alert">
                        <i class=""></i>&nbsp;@TempData[Utilities.Constants.SessionConstants.Message] @*bi bi-x-circle-fill*@
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                  }                 

                  <form class="row g-3" asp-action="Index" asp-controller="Home" method="POST">

                     <!--USERNAME-->
                     <div class="col-12 form-floating">

                        <div class="form-floating mt-2">
                           <input asp-for="Username" type="text" class="form-control" data-val="true" data-val-required="Required." data-val-length-max="60" data-val-length-min="2" data-val-length="Username should be atleast 2 characters." placeholder="First name" onkeypress="return IsAlphabat(event,this);">
                           <label asp-for="Username" class="">Username</label>
                           <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                     </div>

                     <!--PASSWORD-->
                     <div class="col-12 form-floating">
                        <div class="col-12 form-floating mb-2">
                           <div class="input-group">
                              <input asp-for="Password" type="password" class="form-control required p-3" placeholder="Password">
                              <span class="input-group-text" id="eye"><i class="bi bi-eye"></i></span>
                           </div>
                           <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                     </div>

                     <!--ACTION-->
                     <div class="col-12 mb-2 mt-2">
                        <button class="btn btn-primary w-100 p-2" type="submit">Login</button>
                     </div>

                  </form>

               </div>
            </div>
            <!--/CARD-->
@* 
            <footer id="footerLogo" class="footerLogo">
               <div class="copyright">
                  <div class="row mt-0 d-flex justify-content-center">
                     <div class="col-12  ">
                        <a class="brand-logo" href="https://www.moh.gov.zm/">
                           <img src="/assets/img/for 1.png" alt="logo" style="width:110px;">
                        </a>
                        <a class="brand-logo" href="https://www.cdc.gov/">
                           <img src="/assets/img/For2.png" alt="logo" style="width:55px;">
                        </a>
                        <a class="brand-logo ps-2" href="http://ihmafrica.org/">
                           <img src="/assets/img/for 3.png" alt="logo" style="width:80px;">
                        </a>
                     </div>
                  </div>
               </div>
            </footer> *@

         </div>
         <!-- /LOGIN-->
      </div>
   </div>
</div>

<!--JS LINK-->
@section Scripts{
   <script src="~/js/site.js"></script>

   <script>
      let eye = document.getElementById('eye');
      function show() {
          document.getElementById('Password').setAttribute('type', 'text');
      }

      function hide() {
          document.getElementById('Password').setAttribute('type', 'password');
      }

      var pwShown = 0;

      eye.addEventListener("click", function () {
          if (pwShown == 0) {
              pwShown = 1;
              show();
              eye.innerHTML = '<i class="bi bi-eye-slash"></i>';
          } else {
              pwShown = 0;
              hide();
              eye.innerHTML = '<i class="bi bi-eye"></i>';
          }
      }, false);
   </script>
}
